body{
    font-family: sans-serif;
    background-blend-mode: color;
    background-attachment: fixed;
    background-image:linear-gradient(blue,red),url(imagem/tile.png)
    
}

.cores p{
    width: 80%;
    border: 8px dashed #0007;
    margin:20 px auto;
    padding: 20px;
}

section{
    counter-reset: contador;
}

.cores{
    counter-increment: contador;
}

.cores ::before{
    content: counter(contador);
    display:inline-block;
    margin-bottom: 16px;
    font-weight: bold;
}