body {
    font-family: sans-serif;
    background-attachment: fixed;
    background-image: linear-gradient(blue, red), url(imagem/tile.png);
}

.cores p {
    width: 80%;
    border: 8px dashed red;
    margin: 20px auto;
    padding: 20px;
}

section {
    counter-reset: contador;
}

.cores {
    counter-increment: contador;
}

.cores::before {
    content: counter(contador);
    display: inline-block;
    margin-bottom: 16px;
    font-weight: bold;
}

.cores:nth-of-type(2) {
    background-color: red;
    background-clip: padding-box;
}

.cores:nth-of-type(3) {
    background-color: hsl(100, 100%, 80%);
    box-shadow: 10px 10px 6px hsl(100, 100%, 50%) inset;
}

.cores:nth-of-type(3):hover {
    border-color: hsl(100, 100%, 40%);
}

.cores:nth-of-type(4) {
    background-image: -o-linear-gradient(70deg, blue, transparent),
                      linear-gradient(to top, red, transparent);
    background-clip: content-box, padding-box;
}

.cores:nth-of-type(5):hover {
    background-image: radial-gradient(ellipse at center, blue 30%, #f008, green 50%, yellow);
}

.cores:nth-of-type(6):hover {
    background-image: radial-gradient(circle at center, blue 30%, #f008, green 50%, yellow);
}

.cores:nth-of-type(7):hover {
    background-image: radial-gradient(circle at center, blue 30%, #f008, green 50%, yellow);
}

.cores:nth-of-type(8):hover {
    background-image: radial-gradient(circle at 50% 20px, blue, #f00);
}

.cores:nth-of-type(9):hover {
    background-image: radial-gradient(circle at 50% 20px, blue, #f00);
}
